@import "design/settings";
@import "design/tools";
@import "design/trumps";

.dashboard {
  display: grid;
  row-gap: 30px;
  background-color: map-get($colors, "light-gray");

  @include page-container;
  @include page-bounds;

  &__title {
    @include heading-xl;
  }
}
