@import "design/settings";

.notifications {
  display: flex;
  position: relative;

  &__bell {
    color: $blue-color;
  }

  &__count {
    --circle-size: 16px;

    align-items: center;
    background: $red-color;
    border-radius: 50%;
    color: $white-color;
    display: flex;
    font-size: 12px;
    height: var(--circle-size);
    justify-content: center;
    position: absolute;
    right: -5px;
    top: -5px;
    width: var(--circle-size);
  }
}
