@import "design/settings";

.notifications {
  position: relative;
  display: flex;

  &__bell {
    color: $blue-color;
  }

  &__count {
    --circle-size: 16px;

    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--circle-size);
    height: var(--circle-size);
    font-size: 12px;
    color: $white-color;
    background: $red-color;
    border-radius: 50%;
  }
}
