@import "design/settings";

.language-selector {
  display: grid;
  grid-template-columns: min-content max-content;
  column-gap: 16px;
  align-items: center;
  cursor: pointer;

  &__label {
    font-size: 14px;
    font-weight: map-get($font-weights, "semi-bold");
    color: map-get($colors, "gray-60");
  }
}
