@import "design/settings";
@import "design/components";

.input {

  &__control {
    display: block;
    width: 100%;
    height: $search-height;
    padding: 0 17px;
    font-size: 14px;
    background-color: $light-gray-color;
    border: 1px solid $gray-color-90;
    border-radius: 19px;
  }
}
