@import "design/settings";
@import "design/components";

.input {

  &__control {
    display: block;
    width: 100%;
    height: $search-height;
    padding: 0 17px;
    font-size: 14px;
    background-color: map-get($colors, "light-gray");
    border: 1px solid map-get($colors, "gray-90");
    border-radius: 19px;
  }
}
