/* Grays */
$gray-color: #E8E8E8;
$light-gray-color: #F5F6FA;
$gray-color-90: #D5D5D5;
$gray-color-60: #646464;
$dark-gray-color: #565656;

/* Blacks */
$dark-primary-color: #404040;

$blue-color: #4880FF;
$red-color: #FF0000;
$white-color: #FFFFFF;
