@import "design/settings";
@import "design/components";

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: map-get($side-bar, "width");
  display: grid;
  grid-template-columns: auto max-content max-content max-content;
  column-gap: 30px;
  align-items: center;
  height: map-get($header, "height");
  padding: 13px 31px 13px 78px;
  background-color: map-get($colors, "white");
  border-bottom: 1px solid map-get($colors, "gray");

  &__search {
    width: 400px;
  }
}
