@import "design/settings";
@import "design/components";

.search {
  height: $search-height;
  position: relative;

  &__icon {
    height: 100%;
    left: 17px;
    opacity: 0.5;
    position: absolute;
  }

  &__input {
    padding-left: 45px;
  }
}
