@import "design/settings";
@import "design/components";

.search {
  position: relative;
  height: $search-height;

  &__icon {
    position: absolute;
    left: 17px;
    height: 100%;
    opacity: 0.5;
  }

  &__input {
    padding-left: 45px;
  }
}
