@import "design/settings";

.nav-item {
  --border-radius: 6px;

  position: relative;
  display: block;
  padding: 16px;
  font-size: 14px;
  font-weight: map-get($font-weights, "semi-bold");
  color: map-get($colors, "dark");
  text-align: center;
  border-radius: var(--border-radius);

  &:hover {
    background-color: map-get($colors, "light-gray");
  }

  &:active {
    background-color: map-get($colors, "gray");
  }

  &--active {
    color: map-get($colors, "white");
    background-color: map-get($colors, "blue");

    &:hover {
      background-color: map-get($colors, "dark-blue");
    }

    &:active {
      opacity: 0.7;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -30px;
      width: calc(var(--border-radius) * 2);
      height: 100%;
      content: "";
      background-color: map-get($colors, "blue");
      border-radius: var(--border-radius);
    }
  }
}
